@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

button, input {
    font-size: 16px;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #fff;
    color: #4d4d4d;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 20px;
    top: 20px;
}

.hidden {
    display: none;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 30px;
    top: 40px;
}

.statusText {
    padding: 0 17px;
    font-size: 13px;
}

.statusText.saved {
    color: #aaa;
}

.empty {
    display: flex;
    justify-content: center;
}
.empty h1 {
    font-size: 40px;
    max-width: 500px;
    color: #aaa;
    line-height: 45px;
}
