@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html,
body {
    margin: 0;
    padding: 0;
}

button, input {
    font-size: 16px;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #fff;
    color: #4d4d4d;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #e4e4e4;
    color: #4d4d4d;
    height: 80px;
    width: 300px;
    position: fixed;
    bottom: 0;
    top: 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

.controls input[type=file] {
    display: none;
}

.controls input,
.controls button {
    margin: 5px;
}

.status {
}
